
Code/BuildAGame/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@0.1.21-preview/data~/payload.tar.7z
Art/
Game%20Design
Sound
UI_UX
Writing
Code/BuildAGame/.vs
Code/BuildAGame/Library
Code/BuildAGame/Logs
Code/BuildAGame/Packages
Code/BuildAGame/UserSettings
Code/BuildAGame/obj/Debug
.vsconfig
Assembly-CSharp.csproj
BuildAGame.sln
